**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile
**/docker-compose*.yml
**/*.md
**/*.ps1
**/*.sh
**/*.log
**/*.cache
**/appsettings.Development.json
**/appsettings.Production.json
**/*.user
**/*.suo

